.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 90%; /* Increase the width to make the box bigger */
  max-width: 650px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Add padding to create space between text and border */
  font-family: "Trebuchet MS", cursive; /* Change the font to a cartoonish style */
}

.modal-content strong {
  font-weight: bold;
  font-size: 20px;
}

#gameName {
  font-size: 24px; /* Adjust the font size as desired */
  line-height: 0.05;
}

.modal-content p {
  font-size: 16px;
  line-height: 2;
  color: #000000;
}

@media screen and (max-width: 1100px){
  table {
    position: absolute;
    top: 75%;
    left: 30%;
    transform: translateY(-50%);
    width: 38%;
  }

  .table h2{
    position: absolute;
    top: 67%;
    left: 40%;
    transform: translateY(-50%);
    width: 50%;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px){
  table {
    position: absolute;
    top: 75%;
    left: 30%;
    transform: translateY(-50%);
    width: 20%;
  }

  .table h2{
    position: absolute;
    top: 63%;
    left: 32%;
    transform: translateY(-50%);
    width: 50%;
    font-size: 24px;
    
  }
}

@keyframes fade-spin-out {
  0% {
      opacity: 1;
      transform: rotate(0deg);
  }
  100% {
      opacity: 0;
      transform: rotate(180deg);
  }
}

@keyframes fade-spin-in {
  0% {
      opacity: 0;
      transform: rotate(180deg);
  }
  100% {
      opacity: 1;
      transform: rotate(360deg);
  }
}

.fade-spin-out {
  animation: fade-spin-out 0.5s forwards ease-in;
}

.fade-spin-in {
  animation: fade-spin-in 0.5s forwards ease-out;
}