@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

body{
  margin: 0%;
  padding: 0%;
  /*background-color: rgb(255, 244, 198);*/
  background: linear-gradient(to left, rgb(255,244,198),#ffffff);
}

.heading{
  text-align: center;
}

h1{
  font-size: 6em;
  margin: 0px 0px -10px 0px;
  font-family: "Impact";
  -webkit-text-stroke: 2px black;
  color: white;
}

h3{
  font-family: 'Comic Sans MS';
  margin: 0px 0px -10px 0px;
}

#score{
  font-size: 3em;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Impact";
  -webkit-text-stroke: 2px black;
  color: white;
}

.ta_image{
  text-align: center;
}

.chooser{
  text-align: center;
  margin: -250px 0px 0px -750px;
}

*.hidden{
  display: none;
}